/*For the image properties */
.image-container-np img {
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 500px;
    border-radius: 5px;
}

/* For the card container of the login form and image */
.np-container {
    max-width: 900px;
    max-height: 700px;
    margin: 80px 0 0 0;
}
